# Importing the library

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Import the dataset

In [13]:
dataset = pd.read_csv("Position_Salaries.csv")

In [14]:
dataset.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [15]:
dataset.describe()

          Level          Salary
count  10.00000       10.000000
mean    5.50000   249500.000000
std     3.02765   299373.883668
min     1.00000    45000.000000
25%     3.25000    65000.000000
50%     5.50000   130000.000000
75%     7.75000   275000.000000
max    10.00000  1000000.000000

In [16]:
X= dataset.iloc[:,1].values
y= dataset.iloc[:,2].values

In [17]:
print(X)

[ 1  2  3  4  5  6  7  8  9 10]

In [18]:
print(y)

[  45000   50000   60000   80000  110000  150000  200000  300000  500000
 1000000]


# Fitting Decision Tree Regression to the dataset

In [19]:
from sklearn.tree import DecisionTreeRegressor

In [21]:
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X,y)

ValueError: Expected 2D array, got 1D array instead:
array=[  1.   2.   3.   4.   5.   6.   7.   8.   9.  10.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [35]:
y_pred = regressor.predict(6)

ValueError: Number of features of the model must match the input. Model n_features is 10 and input n_features is 1